<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Bonjour</h1>

            <p>
                Merci de confirmer votre adresse email en cliquant sur le lien:
            </p>
            <br>
            <p>
                <a href="{{ signedUrl|raw }}">Confirm my Email</a>
            </p>
            <br>
            <p>
                Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
            </p>
            <br>
            <p>
                Merci beaucoup,
            </p>
            <br>
            <p>
                Ecriture de Soie
            </p>

    </body>
</html>
