<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="_I8dJ87veqpUrF8JsJO9zOy-Xplyf6BJjrywekmsTnQ" />
        <meta name="msvalidate.01" content="7F9FFEB0540513CD87508F7F660EFEF8" />

        <title>{% block title %}Écriture de Soie{% endblock %}</title>

        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        {% endblock %}

        {% block javascript %}
        <script src="{{ asset('js/script.js') }}" defer></script>
        {% endblock %}

    </head>
    <body>
        {% include 'partial/navbar.html.twig' %}

        <main class="container">
            {% block body %}{% endblock %}
        </main>

        {% include 'partial/footer.html.twig' %}

    </body>
</html>
